* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Helvetica Neue" Arial, sans-serif;
  background: #9e366d;
  color: white;

  h1 {
    font-size: 35px;
    margin: 35px;
  }
}

ul li {
  margin: 30px;
}

button {
  border-radius: 35px;
  padding: 50px;
  text-decoration: none;
  background-color: #f32693d8;
  border: 1px solid #e04698;
}
